*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    max-width: 1440px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    padding: 9px 104px;
    box-shadow: 0px 1px 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    z-index: 1;
    
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap:40px;
    font-size: 16px;
}

.nav-logo{
    margin-right: 15px;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.spacer{
    margin-bottom: 24px;
}

.call-to-action{
    display: flex;
    padding: 16px;
    background-color: #004E5C;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.main-container{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 74px;
    z-index: -1;
}
.desc-container{
    width: 46%;
}
.color-bars{
    width: 72%;
}
.color-bars img {
    width: 100%;
}
.desc-heading{
    font-size: 52px;
    font-weight:900;
}
.color-dot{
    color: #FF715B;
}
.desc-paragraph{
    color: #505050;
    font-size: 20px;
    line-height: 24.2px;
}
.extra-space{
    padding-inline: 20px;
}
.img-container{
    display: flex;
    width: 53%;
    
}
.img-container img{
    width: 100%;
    
}
.main-section{
    position: relative;
    background-color: #412C95;
    padding: 119.17px 236.85px;
    color: white;
    text-align: center;
    z-index: -2;
    
}
.position-bg1{
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: -1;
}
.position-bg2{
    position: absolute;
    left: 25px;
    top: 15px;
    z-index: -1;
}
.position-bg3 {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: -1;
    
    
}
.main-section h4{
    margin-bottom: 10px;
    z-index: 2;
}
.main-section h2 {
    margin-bottom: 48px;
    font-size: 32px;
}
.split-section{
    display: flex;
    gap: 91px;
}
.split-icon{
    display: block;
    margin: auto;
    padding-block: 20px;
    
}
.split-parag{
    z-index: 2;
}
.section-flex{
    display: flex;
    
}
.array{
    padding: 80px 128px;
        gap: 50px;
        align-content: flex-end;

}
.array img{
    width: 100%;
}

.mini-head{
    color: #004E5C;
    font-size: 20px;
    margin-bottom: 10px;
}

.regular-head{ 
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 8px;
}
.desc-paragraph.mini{
    font-size: 16px;
    margin-bottom: 32px;
}
.para-flex{
    display: flex;
    gap: 48px;

}
.bold{
    display: block;
    font-size: 36px;
    color: #0D0E0E;
    font-weight: bold;
    margin-bottom: 10px;
}
.sub-section{
    padding: 50px 128px;
    background-color: #F2EEE5;
}
.parent-con{
    position: relative;
    max-width: 1088px;
}
.parent-image{
    width: 100%;
}
.position{
    justify-content: space-between;
    align-items: center;
    
}
.size{
    width: 45%;
    margin-bottom: 20px;
}

.floating-box{
    background-color: white;
    border: 1px solid red;
    max-width: 280px;
    border-radius: 16px;
    padding: 24px;
    position: absolute;
    bottom: 60px;
    left: 40px;
}

.floated{
    display: flex;
    margin-top: 48px;
    justify-items: space-between;
    font-size: 14px;
    gap: 10px; 
    align-items: center;
}
.focus-para{
    font-weight: 700;
    display: block;
    margin-top: 5px;
}
.floating-box-two{
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 263px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 20px;
    right: 20px;


}

.section-flex.line{
    justify-content: space-between;
    margin: 20px;
    align-items: flex-end;


}

.center-word{
    text-align: center;
    color: #939699;
    font-size: 12px;
    margin: 20px;

}
.numerical{
    color: #004E5C;
    display: block;
    font-size: 30px;
    padding-inline: 60px;
}
.section-gallery{
     padding-block: 24px; 
    text-align: center;
    max-width: 1080px;
    justify-items: center;
    margin: auto;
}
.mobile{
    display: none;
}
.space{
    justify-content: space-between;
    margin-top: 20px;
    gap: 28px;
}
.gallery-cont{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    
    
}
.gallery{
    width: 48%;
    background-color: #F2EEE5;
    border-radius: 5px;
    padding-bottom: 10px;
}
.gallery-hold{
   display: flex; 
   height: 214px;
   align-items: flex-end;
   padding-bottom: 10px;
   justify-content: left;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
}
.gallery-hold h5{
    font-size: 20px;
    color: #F2EEE5;
    padding-left: 15px;
}
.frame1{
    background-image: url(./images/Frame\ 132first.png);
}
.frame2 {
    background-image: url(./images/Frame\ 1322nd.png);
}
.frame3 {
    background-image: url(./images/Frame\ 132third.png);
}
.frame4 {
    background-image: url(./images/Frame\ 132fourth.png);
}
.side-piece{
    background-color: #004E5C;
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-align: left;
}

.side-piece h3{
    margin-bottom: 30px;
    font-size: 28px;
}
.gallery-desc{
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.unlock{
    background-image: url(./images/Frame\ 1171276262.png);
    padding: 0 50px 50px;
    justify-content: space-between;
}
.section-unlock{
    width: 45%;
}
.section-unlock h4{
    color: #ffffff;
    font-size: 32px;
    font-weight: 100;
    margin-block: 40px;
}
.word-grid{
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.w-grid{
    width: 49%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.w-grid h6{
    font-size: 18px;
    padding-bottom: 15px;
}
.w-grid p {
    font-size: 16px;
}
.isolated{
    display: flex;
    align-items: end;
    color: #ffffff;
    padding-bottom: 60px;
    font-size: 48px;
    width: 45%;
}
.outro-cont{
    background-color: #ECB302;
    padding-block: 10px;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
}
.outro{
    max-width: 482px;


}
.outro h2{
    font-size: 48px;
    color: #412C95;
    font-weight: 300;
}
.outro p {
    font-size: 18px;
    color: white;
    padding-block: 20px;
}
.outro h6{
    display: inline;
    background-color: black;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
}
.outro-mage img{
    width: 100%;
}
footer{
    padding: 50px;
    gap: 50px;
    background-color: #6A55EA;
    color: #ffffff;
}
.foot-content{
  justify-content: space-between;
}
.foot-image img{
    width: 100%;
}
footer h2{
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 32px;

}
.foot-1{
    max-width: 567px;
}
.form-sec{
    display: flex;
    background-color: white;
    padding: 8px;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 50px;

}
.form-sec input{
    border: none;
    outline:none;
    font-size: 14px;
}
.form-sec button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 20px;
    background-color: #6A55EA;
    border-radius: 5px;
    border: none;
    color: white;
}

.foot-note{
    justify-content: space-between;
}
.foot-links{
    display: block;
}


